/* CIT 230 - Assignment Portal CSS Template */
/* You may use #HEX or color names */

/* * is a wildcard referring to all elements. */
* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 32px;
    font-family: sans-serif;
    color: gray;
}

h1 {
    font-size: 32px;
    color: whitesmoke;
}

h2 {
    font-size: 16px;
    text-align: center;
    border-bottom: 1px solid #bbb;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    /*max-width: auto;*/
}

header, footer, footer a {
    text-align: center;
    background-color: gray;
    color: whitesmoke;
}

header img {
    width: 200px;
    height: auto;
    float: right;
}

footer {
    font-size: smaller;
}